* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #18216b;
    color: white;
}
.background {
    position: absolute;
    bottom: 0;
}
.background img {
    width: 50%;
    height: 50%;
    float: right;
}
img {
    position: relative;
}
#image {
    box-shadow: 15px 15px 20px #080b21, 25px 25px 30px #040511;
}
nav {
    margin-top: 2rem;
    float: right;
    margin-right: 0.8rem;
    background-color: #080a1849;
    padding: 20px;
    border: 1px solid black;
}
nav .navi {
    font-weight: bold;
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: white;
}
aside {
    position: absolute;
    left: 0;
    top: 25rem;
}
.asideElem {
    margin: 1rem;
}
button {
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 15px;
    text-decoration: none;
    border: none;
}
#date {
    padding: 0.7rem;
    border: 1px solid white;
    border-radius: 15px;
}
